<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/output.css" rel="stylesheet">
    <title>Hello!</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
    <script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <script src="http://threejs.org/examples/js/libs/stats.min.js"></script>
</head>
<script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
<style>
    .list-container {
        display: flex;
        flex-wrap: wrap;
    }

    .list-container ul {
        flex: 1;
        min-width: 200px;
        /* Atur min-width sesuai kebutuhan */
    }

    .list-container li {
        list-style-type: none;
        margin: 5px 0;
    }
</style>

<body class="bg-white text-black dark:bg-gray-800 dark:text-white transition duration-300">
    <header
        class="fixed absolute z-99999999999999999 bg-gradient-to-b from-black via-gray-700 to-transparent md:hidden ">
        <nav class="fixed z-50 md:z-auto bg-gradient-to-b from-black via-gray-800/60 to-transparent md:static flex p-5 md:p-20 justify-between items-center w-full gap-5 "
            data-aos="zoom-y-out">
            <!-- // backdrop-blur-md md:backdrop-blur-none // -->
            <label for="check-mobilenav" class="flex flex-col min-w-10 max-w-20 cursor-pointer md:hidden">
                <input type="checkbox" id="check-mobilenav" class="peer hidden" />
                <span
                    class="bg-stone-100 rounded-[10px] h-[3.5px] sm:h-[5px] my-[3px] sm:my-[5px] transition-transform duration-[0.4s] ease-custom w-1/2 peer-checked:origin-bottom peer-checked:rotate-45 peer-checked:translate-x-[8px]"></span>
                <span
                    class="bg-stone-100 rounded-[10px] h-[3.5px] sm:h-[5px] my-[3px] sm:my-[5px] transition-transform duration-[0.4s] ease-custom w-full peer-checked:origin-top peer-checked:-rotate-45"></span>
                <span
                    class="bg-stone-100 rounded-[10px] h-[3.5px] sm:h-[5px] my-[3px] sm:my-[5px] transition-transform duration-[0.4s] ease-custom w-3/4 peer-checked:origin-bottom peer-checked:w-1/2 peer-checked:translate-x-[30px] peer-checked:-translate-y-[11px] peer-checked:rotate-45"></span>
            </label>

            <div id="brand"
                class="text-3xl font-bold font-montserrat text-stone-900 flex items-center transform transition duration-300 ease-in-out hover:scale-110 md:hidden">
                <a href="" class="flex items-center">
                    <img src="/static/img/logobar.png" alt="Reclea Brick Logo" class="max-w-24 sm:max-w-32 shadow-lg" />
                    <span class="sr-only">Reclea Brick</span>
                </a>
            </div>

        </nav>

        <div id="offscreen-nav-container"
            class="offscreen-nav-container fixed top-0 left-0 w-screen h-svh bg-black z-10 flex flex-col justify-between -translate-x-full md:hidden duration-300">
            <div class="flex flex-col gap-10 p-5">
                <div class="flex justify-between text-white">
                    <div class=""></div>
                    <div class=""></div>
                </div>
                <ul class="flex flex-col gap-8 p-5 mt-12">
                    <li href="" class="relative group">
                        <a href="/"
                            class="font-semibold text-stone-300 group-hover:text-stone-200 text-xl duration-300">
                            DASHBOARD
                        </a>
                        <div
                            class="absolute -bottom-2 left-0 w-0 duration-500 group-hover:w-full h-1 group-hover:bg-stone-200 bg-stone-100">
                        </div>
                    </li>
                    <li href="" class="relative group">
                        <a href="/view"
                            class="font-semibold text-stone-300 group-hover:text-stone-200 text-xl duration-300">
                            WEB SAYA
                        </a>
                        <div
                            class="absolute -bottom-2 left-0 w-0 duration-500 group-hover:w-full h-1 group-hover:bg-stone-200 bg-stone-100">
                        </div>
                    </li>
                </ul>
            </div>
            <div
                class="text-white text-xs font-light md:font-normal md:text-base text-center p-5 border-t border-stone-600 ">
                CopyRight &copy; 2024 Recleabrick. All Rights Reserved designed by
                <a href="https://www.instagram.com/ninjafly.id/"
                    class="underline italic transition-transform duration-300 hover:scale-110 hover:text-red-700">Ninjafly.id</a>
            </div>
        </div>

    </header>

    <!-- SIDEBAR -->
    <section id="sidebar"
        class="flex flex-col  fixed top-0 pt-8 left-0 w-72 h-svh bg-gradient-to-tl from-black via-gray-900 to-black z-50 transition-all duration-300 hidden md:flex">

        <ul class="space-y-4">
            <li>
                <div class="mb-auto flex justify-center ">
                    <img src="/static/img/logobar.png" alt="logo reclea" class="w-28 h-auto mb-4">
                </div>
            </li>
            <li class="px-4 py-2 bg-zinc-100 shadow-md  ">
                <a href="/" class="flex items-center space-x-2">
                    <i class='bx bxs-dashboard '></i>
                    <span class="dark:text-black">Dashboard</span>
                </a>
            </li>
            <li class="px-4 py-2 hover:bg-gray-200  shadow-md  bg-gray-600 group">
                <a href="/view" class="flex items-center text-white space-x-2 group-hover:text-black">
                    <i class='bx bxs-doughnut-chart group-hover:text-black'></i>
                    <span class="group-hover:text-black">Web Saya</span>
                </a>
            </li>
        </ul>
        <div class="mt-auto -mb-6 flex justify-center">
            <img src="/static/img/NinjaFlylogo.png" alt="logo ninja" class="w-28 h-28">
        </div>
        <a href="https://www.instagram.com/ninjafly.id/" class=" flex justify-center items-center space-x-2">
            <span class="font-bold hover:border hover:border-red-500 text-white">Ninjafly</span>
        </a>
    </section>
    <!-- SIDEBAR -->


    <!-- CONTENT -->
    <section id="content" class="relative ml-0 md:ml-72 p-6 h-auto bg-gradient-to-tr from-black via-gray-900 to-black">
        <div id="particles" class="w-full h-full absolute inset-0 -z-1"></div>

        <!-- NAVBAR -->
        <!-- <nav class="relative bg-gray-200 p-4 shadow flex items-center justify-between">
            
            <div class="flex items-center">
                <i class='bx bx-menu text-xl cursor-pointer hidden '></i>
                <a href="#" class="ml-4 text-black ">Get all your performance here</a>
            </div>
            <label class="inline-flex items-center cursor-pointer ml-auto">
                <input id="switch-mode" type="checkbox" value="" class="sr-only peer">
                <div
                    class="relative w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600">
                </div>
            </label>
        </nav> -->
        <!-- NAVBAR -->

        <!-- MAIN -->
        <main class="mt-6 ml-2 md:ml-4">
            <div class="mb-6 p-4 pt-8 max-w-fit rounded-md justify-center mx-auto ">
                <h1 class="text-4xl text-white font-bold">Dashboard</h1>
                <ul class="flex space-x-2 text-white justify-center mx-auto">
                    <li>visitor link reclea</li>
                </ul>
            </div>

            <div class="m-4 mt-10 ml-0 text-white font-bold underline p-2">
                <h2>Total Performance :</h2>
            </div>

            <ul class="relative grid grid-cols-2 md:grid-cols-2 lg:grid-cols-4 gap-2">
                <li class="bg-zinc-100 p-1 md:p-4 flex items-center space-x-4 shadow-3xl rounded-lg">
                    <i class='bx bxl-instagram text-4xl bg-pink-100 text-pink-600 p-2 rounded-full'></i>
                    <div class="text-black mr-4 ">
                        <h3 class="text-2xl font-bold" id="instagramCount">Loading...</h3>
                        <p>Instagram</p>
                    </div>
                </li>

                <li class="bg-zinc-100 p-1 md:p-4 flex items-center space-x-4 shadow rounded-lg">
                    <i class='bx bxl-whatsapp text-4xl bg-green-100 text-green-600 p-2 rounded-full'></i>
                    <div class="text-black mr-4  ">
                        <h3 class="text-2xl font-bold" id="whatsappCount">Loading...</h3>
                        <p>Whatsapp</p>
                    </div>
                </li>
                <li class="bg-zinc-100 p-1 md:p-4 flex items-center space-x-4 shadow rounded-lg">
                    <i class='bx bxl-tiktok text-4xl bg-black text-white p-2 rounded-full sm md:normal'></i>
                    <div class="text-black mr-4 ">
                        <h3 class="text-2xl font-bold" id="tiktokCount">Loading...</h3>
                        <p>Tiktok</p>
                    </div>
                </li>
                <li class="bg-zinc-100 p-1 md:p-4 flex items-center space-x-4 shadow rounded-lg">
                    <i class='bx bxl-youtube text-4xl bg-red-100 text-red-600 p-2 rounded-full'></i>
                    <div class="text-black mr-4  ">
                        <h3 class="text-2xl font-bold" id="youtubeCount">Loading...</h3>
                        <p>Youtube</p>
                    </div>
                </li>
                <li class="bg-zinc-100 p-1 md:p-4 flex items-center space-x-4 shadow rounded-lg">
                    <i class='bx bxl-chrome text-4xl bg-blue-100 text-blue-600 p-2 rounded-full'></i>
                    <div class="text-black mr-4 ">
                        <h3 class="text-2xl font-bold" id="websiteCount">Loading...</h3>
                        <p>Website</p>
                    </div>
                </li>
                <li class="bg-zinc-100 p-1 md:p-4 flex items-center space-x-4 shadow rounded-lg">
                    <i class='bx bxs-file-archive text-4xl bg-gray-100 text-gray-600 p-2 rounded-full'></i>
                    <div class="text-black mr-4  ">
                        <h3 class="text-2xl font-bold" id="beritaCount">Loading...</h3>
                        <p>Berita</p>
                    </div>
                </li>
                <li class=" bg-zinc-100 p-1 md:p-4 flex items-center space-x-4 shadow-lg shadow-amber-600 rounded-lg">
                    <i class='bx bx-task text-4xl bg-yellow-100 text-yellow-600 p-2 rounded-full'></i>
                    <div class="text-black mr-4  ">
                        <h3 class="text-2xl font-bold" id="artikelCount">Loading...</h3>
                        <p>Why Reclea</p>
                    </div>
                </li>
            </ul>
            <div class="  dark:bg-gray-800">
                <div class="grid grid-cols-1 md:grid-cols-1 lg:grid-cols-2  h-full mt-10">
                    <!-- Div di kiri -->
                    <div id="left" class="relative p-4 rounded-lg bg-zinc-100 h-full flex flex-col">
                        <h2 class="text-black text-lg font-semibold ml-2 mb-4">Jumlah Klik Pada Hari Ini</h2>
                        <canvas id="dailyChart" class="w-full h-full"></canvas>
                        <h2 class="text-black text-lg font-semibold ml-2 mb-4">Total Klik :</h2>
                        <div id="dayList" class="list-container">
                            <ul>
                                <li>Instagram : </li>
                                <li>WhatsApp : </li>
                                <li>TikTok : </li>
                                <li>YouTube : </li>
                            </ul>
                            <ul>
                                <li>Artikel : </li>
                                <li>Berita : </li>
                                <li>Website : </li>
                            </ul>
                        </div>
                    </div>
                    <!-- Div di kanan -->
                    <div id="chart"
                        class="relative p-4 ml-0 lg:ml-4 sm:mt-4 md:mt-0 bg-zinc-100 shadow rounded-lg h-full flex flex-col">
                        <h2 class="text-black text-lg font-semibold ml-2">Berikut data mingguan (senin-minggu)</h2>
                        <canvas id="weeklyChart" class="w-full h-full"></canvas>
                        <h2 class="text-black text-lg font-semibold ml-2 mb-4">Total Klik :</h2>
                        <div id="weekList" class="list-container">
                            <ul>
                                <li>Instagram : </li>
                                <li>WhatsApp : </li>
                                <li>TikTok : </li>
                                <li>YouTube : </li>
                            </ul>
                            <ul>
                                <li>Artikel : </li>
                                <li>Berita : </li>
                                <li>Website : </li>
                            </ul>
                        </div>
                    </div>
                    <div id="left" class="relative mt-4 p-4 rounded-lg bg-zinc-100 h-full flex flex-col">
                        <h2 class="text-black text-lg font-semibold ml-2 mb-4">Jumlah Klik Pada Bulan Ini :</h2>
                        <canvas id="monthChart" class="w-full h-full"></canvas>
                        <h2 class="text-black text-lg font-semibold ml-2 mb-4">Total Klik :</h2>
                        <div id="monthList" class="list-container">
                            <ul>
                                <li>Instagram : </li>
                                <li>WhatsApp : </li>
                                <li>TikTok : </li>
                                <li>YouTube : </li>
                            </ul>
                            <ul>
                                <li>Artikel : </li>
                                <li>Berita : </li>
                                <li>Website : </li>
                            </ul>
                        </div>
                    </div>
                    <!-- Div di kanan -->
                    <!-- <div id="chart" class="relative  ml-4 mt-4 bg-zinc-100 shadow rounded-lg">
                        <h2 class="text-black text-lg font-semibold ml-2">Berikut data mingguan(senin-minggu)</h2>
                        <canvas id="weeklyChart" style="width: 100%; height: 80%;" class="mt-4"></canvas>
                    </div> -->

                </div>
            </div>
        </main>
        <!-- MAIN -->
    </section>
    <!-- CONTENT -->

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            fetch('/instagram_count')
                .then(response => response.json())
                .then(data => {
                    document.getElementById('instagramCount').textContent = data.count;
                })
                .catch(error => console.error('Error:', error));
        });
        document.addEventListener('DOMContentLoaded', function () {
            fetch('/whatsapp_count')
                .then(response => response.json())
                .then(data => {
                    document.getElementById('whatsappCount').textContent = data.count;
                })
                .catch(error => console.error('Error:', error));
        });
        document.addEventListener('DOMContentLoaded', function () {
            fetch('/tiktok_count')
                .then(response => response.json())
                .then(data => {
                    document.getElementById('tiktokCount').textContent = data.count;
                })
                .catch(error => console.error('Error:', error));
        });
        document.addEventListener('DOMContentLoaded', function () {
            fetch('/youtube_count')
                .then(response => response.json())
                .then(data => {
                    document.getElementById('youtubeCount').textContent = data.count;
                })
                .catch(error => console.error('Error:', error));
        });
        document.addEventListener('DOMContentLoaded', function () {
            fetch('/website_count')
                .then(response => response.json())
                .then(data => {
                    document.getElementById('websiteCount').textContent = data.count;
                })
                .catch(error => console.error('Error:', error));
        });
        document.addEventListener('DOMContentLoaded', function () {
            fetch('/berita_count')
                .then(response => response.json())
                .then(data => {
                    document.getElementById('beritaCount').textContent = data.count;
                })
                .catch(error => console.error('Error:', error));
        });
        document.addEventListener('DOMContentLoaded', function () {
            fetch('/artikel_count')
                .then(response => response.json())
                .then(data => {
                    document.getElementById('artikelCount').textContent = data.count;
                })
                .catch(error => console.error('Error:', error));
        });
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            fetch('/data_month')
                .then(response => response.json())
                .then(data => {
                    const platformCounts = getPlatformCounts(data);
                    renderChart('monthChart', platformCounts);
                    updatePlatformList('monthList', platformCounts);
                })
                .catch(error => console.error('Error:', error));

            fetch('/data_week')
                .then(response => response.json())
                .then(data => {
                    const platformCounts = getPlatformCounts(data);
                    renderChart('weeklyChart', platformCounts);
                    updatePlatformList('weekList', platformCounts);
                })
                .catch(error => console.error('Error:', error));

            fetch('/data_today')
                .then(response => response.json())
                .then(data => {
                    const platformCounts = getPlatformCounts(data);
                    renderChart('dailyChart', platformCounts);
                    updatePlatformList('dayList', platformCounts);
                })
                .catch(error => console.error('Error:', error));
        });

        function getPlatformCounts(data) {
            const counts = {
                instagram: 0,
                whatsapp: 0,
                tiktok: 0,
                youtube: 0,
                artikel: 0,
                berita: 0,
                website: 0
            };
            data.forEach(item => {
                if (counts[item.platform] !== undefined) {
                    counts[item.platform]++;
                }
            });
            return counts;
        }

        function renderChart(chartId, platformCounts) {
            const ctx = document.getElementById(chartId).getContext('2d');
            new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: ['Instagram', 'WhatsApp', 'TikTok', 'YouTube', 'Artikel', 'Berita', 'Website'],
                    datasets: [{
                        data: [
                            platformCounts.instagram,
                            platformCounts.whatsapp,
                            platformCounts.tiktok,
                            platformCounts.youtube,
                            platformCounts.artikel,
                            platformCounts.berita,
                            platformCounts.website
                        ],
                        backgroundColor: [
                            'rgb(255, 51, 0)',
                            'rgba(18, 161, 49, 0.9)',
                            'rgba(34, 40, 34, 1.0)',
                            'rgba(210, 38, 30, 1.0)',
                            'rgba(95, 150, 198, 0.9)',
                            'rgba(85, 86, 47, 0.75)',
                            'rgba(107, 184, 35, 1.0)'
                        ],
                        borderColor: [
                            'rgb(255, 51, 0)',
                            'rgba(0, 255, 0, 1)',
                            'rgba(34, 40, 34, 1.0)',
                            'rgba(210, 38, 30, 1.0)',
                            'rgba(95, 150, 198, 0.9)',
                            'rgba(85, 86, 47, 0.75)',
                            'rgba(107, 184, 35, 1.0)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true,
                            ticks: {
                                color: 'black', // Warna angka (ticks) sumbu Y
                                font: {
                                    weight: 'bold'
                                }
                            }
                        },
                        x: {
                            ticks: {
                                color: 'black', // Warna angka (ticks) sumbu X
                                font: {
                                    weight: 'bold'
                                }
                            }
                        }
                    },
                    plugins: {
                        legend: {
                            display: false // Menghilangkan legenda
                        }
                    }
                }
            });
        }

        function updatePlatformList(listId, platformCounts) {
        const list = document.getElementById(listId);
        list.innerHTML = `
            <ul>
                <li>Instagram : ${platformCounts.instagram}</li>
                <li>WhatsApp : ${platformCounts.whatsapp}</li>
                <li>TikTok : ${platformCounts.tiktok}</li>
                <li>YouTube : ${platformCounts.youtube}</li>
            </ul>
            <ul>
                <li>Artikel : ${platformCounts.artikel}</li>
                <li>Berita : ${platformCounts.berita}</li>
                <li>Website : ${platformCounts.website}</li>
            </ul>
        `;
    }
    </script>

    <script src="/static/particles.js"></script>

    <!-- <script type='text/javascript'>
        //<![CDATA[
        function redirect1(e) {
            if ((e.ctrlKey && e.which == 85) || (e.ctrlKey && e.which == 123) || (e.key == "F12") || (e.key == "F12" && e.code.startsWith("F"))) {
                // Jika tombol Control (Ctrl) dan tombol 'U' (kode tombol 85) 
                // atau tombol Control (Ctrl) dan tombol F12 (kode tombol 123) ditekan bersamaan
                alert("BERANI BERUBAH MENJADI LEBIH BAIK");
                return false; // Menghentikan aksi default dari event
            }
        }

        function redirect2(e) {
            if (e.which == 3) {
                // Jika tombol kanan mouse (kode tombol 3) ditekan (klik kanan)
                alert("BERANI BERUBAH MENJADI LEBIH BAIK");
                return false; // Menghentikan aksi default dari event
            }
        }

        document.onkeydown = redirect1; // Memanggil fungsi redirect1 saat event keydown terjadi
        document.oncontextmenu = redirect2; // Memanggil fungsi redirect2 saat event contextmenu terjadi
        //]]>
    </script> -->


    <!-- <script>
        document.addEventListener("DOMContentLoaded", function () {
            const checkbox = document.getElementById("check-mobilenav");
            const navContainer = document.getElementById("offscreen-nav-container");

            checkbox.addEventListener("change", function () {
                if (this.checked) {
                    navContainer.classList.remove("-translate-x-full");
                    navContainer.classList.add("translate-x-0");
                } else {
                    navContainer.classList.remove("translate-x-0");
                    navContainer.classList.add("-translate-x-full");
                }
            });
        });
    </script>

    <script>
        const toggleSideNav = (isOpen) => {
            const checkbox = document.getElementById('check-mobilenav');
            checkbox.checked = isOpen;
            const navContainer = document.getElementById('offscreen-nav-container');

            navContainer.classList.toggle('-translate-x-full', !isOpen);
            navContainer.classList.toggle('translate-x-0', isOpen);
        };

        document.addEventListener('DOMContentLoaded', () => {
            AOS.init();

            const checkbox = document.getElementById('check-mobilenav');

            checkbox.addEventListener('change', () => {
                toggleSideNav(checkbox.checked);
            });
        });
    </script> -->
    <script>
        document.getElementById('check-mobilenav').addEventListener('change', function () {
            const navContainer = document.getElementById('offscreen-nav-container');
            if (this.checked) {
                navContainer.classList.remove('-translate-x-full');
                navContainer.classList.add('translate-x-0');
            } else {
                navContainer.classList.remove('translate-x-0');
                navContainer.classList.add('-translate-x-full');
            }
        });
    </script>


</body>

</html>